.profile-page-table {
  height: 40vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50vwx;
  align-items: center;
  justify-content: center;
}

textarea,
button {
  width: 30vw;
}

textarea,
input,
button {
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  height: 100px;
}
