// .deals-container {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   justify-items: center;
// }

// .item {
//   border: solid black 1px;
//   height: 15vh;
//   width: 20vh;
//   margin-top: 1vh;
// }

// .deal-button {
//   width: 50%;
//   background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%) !important;
//   color: white !important;
//   align-self: flex-end;
//   height: 7vh;
// }

// .deal-image {
//   height: 75%;
//   width: 100%;
// }

// a {
//   text-decoration: none;
// }

// .showcase-intro-container {
//   max-height: 50vh;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
// }

// .h1-header {
//   background-color: #00464c;
//   text-align: center;
//   color: white;
// }

// .showcase-name-header {
//   grid-column-start: 3;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 1;
// }

// .profile-image {
//   height: 20vh;
//   width: 20vh;
//   border-radius: 90%;
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 3;
// }

// .tags-list {
//   grid-row-start: 2;
//   grid-row-end: 2;
//   grid-column-start: 3;
//   grid-column-end: 4;
// }

// .socials-list {
//   display: flex;
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 3;
//   grid-row-end: 4;
// }

// .socials-list-item {
//   margin: 0 1vw;
// }

// .showcase-bio {
//   background-color: #31afb4;
//   opacity: 70%;
//   color: black;
//   border-radius: 5%;
//   overflow: visible;
//   grid-row-start: 3;
//   grid-row-end: 3;
//   grid-column-start: 3;
//   grid-column-end: 4;
// }

// .support-me-button {
//   grid-row-start: 5;
//   grid-row-end: 6;
//   grid-column-start: 6;
//   grid-column-end: 6;
// }

/* bring all of the relevant groupings into the same containers and then stack them? */

.showcase-entry-container {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
